<h1 class="signup-heading">Sign Up</h1>
<div class="signup-container">
<input placeholder ="Name" name="name">
<input placeholder ="Email" email="Email">
<input placeholder ="Password" password="Password">
<a href="/home" class="button">Signup</a>
</div>